body {
  background-color: rgb(250, 251, 255);
  font-family: "Futura", sans-serif;
}

h1 {
  color: rgb(0, 24, 164);
  width: 495px;
  height: 85px;
  top: 64px;
  left: 64px;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0;
}

h4 {
  font-size: 22px;
  font-weight: 700;
  line-height: 100%;
}

.text-container {
  display: grid;
  grid-template-columns: repeat(2, 350px);
  grid-template-rows: auto;
}

.filter {
  grid-row: span 1;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 0px;
  gap: 12px;
}


.k-btn {
  background: rgb(204, 255, 226);
  border: none;
  border-radius: 50px;
  font-style: medium;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  color: rgb(0, 24, 164);
  padding: 8px 16px;
}

.t-btn {
  background: rgb(255, 236, 234);
  border: none;
  border-radius: 50px;
  font-style: medium;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  color: rgb(0, 24, 164);
  padding: 8px 16px;
}

.card-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  gap: 10px;
}

.card {
  border: 1px solid rgb(204, 204, 204);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 16px 16px;
  padding-bottom: 24px;
  list-style-type: none;
  width: 300px;
}

.example {
  width: 100%;
  border-radius: 12px;
}